<!DOCTYPE html>
<html>
<head>
	<title>Scores</title>
</head>
<body>
<% for(i = 0; i < games.length; i++) {%>
	<div style="border:2px solid black; display: inline-block;">
	<h2><%=games[i].courseName%></h2>
	<h5><%=games[i].date%></h5>
	<h4>Strokes:<%=games[i].totalStrokes%></h4>
	<h4>Score:<%=games[i].score%></h4>
	<h4>Holes: <%=games[i].hole.length%></h4>
	<div>
		<% for(h=0; h < games[i].hole.length; h++) {%>
			<ul>
				<li>Hole:<%=games[i].hole[h].hole%></li>
				<li>Par:<%=games[i].hole[h].par%></li>
				<li>Strokes:<%=games[i].hole[h].strokes%></li>
			</ul>
		<%}%>
	</div>
	</div>
<%}%>



</body>
</html>